<header class="pageHeader">
    <h3><i class="fa fa-film fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.Movies' | translate}}</h3>
</header>

<div>
    <div class="row control-box">
        <div class="col-lg-8">
            <div class="search-box">
                <app-search-box (searchChange)="onSearchChanged($event)" placeholder="{{'movies.management.Search' | translate}}" />
            </div>
        </div>
    </div>
</div>
@if (showDatatable){
<ngx-datatable class="material colored-header sm table-x table-striped table-hover"
               [loadingIndicator]="loadingIndicator"
               [rows]="rows"
               [rowHeight]="35"
               [headerHeight]="37"
               [footerHeight]="35"
               [columns]="columns"
               [scrollbarV]="true"
               [columnMode]="'force'">
</ngx-datatable>

<ng-template #indexTemplate let-value="value">
    <strong title="{{value}}">{{value}}</strong>
</ng-template>
}
